/infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_amd64/terraform-provider-aws_v4.67.0_x5.exe
/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform.tfstate.lock.info
/Recoverability.In.AWS/infrastructure/vpc-and-database/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_amd64/terraform-provider-aws_v4.67.0_x5.exe
/Recoverability.In.AWS/infrastructure/vpc-and-database/.terraform.tfstate.lock.info
/Recoverability.In.AWS/infrastructure/web/.terraform.lock.hcl
/Recoverability.In.AWS/infrastructure/web/.terraform.tfstate.lock.info
/Recoverability.In.AWS/infrastructure/web/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_amd64/terraform-provider-aws_v4.67.0_x5.exe
/Recoverability.In.AWS/infrastructure/web/.terraform/providers/registry.terraform.io/hashicorp/time/0.11.2/windows_amd64/LICENSE.txt
/Recoverability.In.AWS/infrastructure/web/.terraform/providers/registry.terraform.io/hashicorp/time/0.11.2/windows_amd64/terraform-provider-time_v0.11.2_x5.exe
